<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div>{{number}}</div>
        <ul>
            <li v-for="(data,idx) of datas">{{idx}}--{{data}}</li>
        </ul>
        <ul>
            <li v-for="user in users">{{user.name}} {{user.id}}</li>
        </ul>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    title: 'Hello VUe',
                    number: 123,
                    datas:['apple','banana','cat'],
                    users:[
                        {
                            id:1,
                            name:'john'
                        },
                        {
                            id:2,
                            name:'mary'
                        }
                    ]
                }
            }
        }).mount('#app');
    </script>
</body>
</html>