<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <input type="text" v-model="input">
        <button @click="add()">新增事項</button>
        <h3>已完成</h3>
        <ul>
            <li v-for="todo in todoCompleted" :key="todo.id">
                <input type="checkbox" v-model="todo.isCompleted">
                {{todo.name}}
            </li>
        </ul>
        <h3>未完成</h3>
        <ul>
            <li v-for="todo in todoUnCompleted" :key="todo.id">
                <input type="checkbox" v-model="todo.isCompleted">
                {{todo.name}}
            </li>
        </ul>
    <script>
        Vue.createApp({
            data(){
                return {
                    input:'',
                    todos: [
                        {
                            id:1,
                            name:'寫作業',
                            isCompleted:false
                        },{
                            id:2,
                            name:'洗衣服',
                            isCompleted:true
                        }
                    ]
                }
            },
            methods:{
                add(){
                    this.todos.push({
                        id:Date.now(),
                        name:this.input,
                        isCompleted: false
                    });
                    this.input = '';
                }
            },
            computed:{
                todoCompleted(){
                    return this.todos.filter(data => data.isCompleted === true);
                },
                todoUnCompleted(){
                    return this.todos.filter(data => data.isCompleted === false);
                }
            }
        }).mount('#app');
    </script>
</body>
</html>